.node {
    /* Copy-pasted from default node styles */
    background: #fff;
    border: 1px solid #565656;
    border-radius: 2px;
    color: #222;
    font-size: 12px;
    padding: 4px;
    text-align: left;
    width: 150px;
    /* End */

    display: flex;
    flex-direction: column;
    gap: 2px;
}

.node-selected {
    border: 1px solid #7a75e5ff;
}

.node-error-msg {
    font-size: 10px;
    color: lightcoral;
}

.node select {
    min-height: 22px;
}

.error-msg {
    color: lightcoral;
}
